/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px; /* Espacio en la parte superior de la página */
    width: 100%;
    height: calc(100% - 100px); /* Espacio en la parte inferior de la página */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.modal-content {
    background-color: #b8a7f7;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Estilo para los botones dentro del formulario */
.styled-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #0056b3;
}

/* Estilos para los campos de entrada del formulario */
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

/* Estilos para el botón de enviar en el formulario */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
