/* Estilos para el formulario */
.card-body {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para la ventana emergente */
#formularioRegistro,
#formularioRegistro1 {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    width: 80%; /* Aumenta el ancho de la ventana emergente */
    max-width: 600px; /* Establece un ancho máximo */
}

#formularioRegistro h6,
#formularioRegistro1 h6 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"],
button[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0056b3;
}

